
h1 {
    color: black;
    font-family: 'Noto Serif JP', serif;
    text-align: center;
}
p {
    text-align: center;
    font-family: 'Roboto', sans-serif;    
}
.medium {
    width: 50%;    
    padding: 10px;    
}
.small {
    width: 30%;
    height: 250px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;        
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;  
    font-size: 20px;
}
li {
    display: inline;
    float: left;    
}

a{
    display: block;
    padding: 8px;       
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}
.table {
    display: table;
    margin: 0 auto;
}
.active {   
    text-decoration: underline;
}
@media only screen and (max-width: 600px) {    
    body {
        background-color: lightgreen;
    }
    .medium{
        width: 90%;                
    }    
    .small {
        width: 70%;
    }
    
}